    <div class="row">
        <div class="col-xs-12">
            <h1>Which idea would you like to see resources put towards more?</h1>
        </div>
    </div>
    <div id="vote" class="row">
        <div class="col-xs-12 col-sm-6">
            <div id="left" class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title"></h3>
                    <div class="description"></div>
                    <button class="btn btn-lg btn-block btn-default">Vote</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div id="right" class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title"></h3>
                    <div class="description"></div>
                    <button class="btn btn-lg btn-block btn-default">Vote</button>
                </div>
            </div>
        </div>
    </div>
